@import "../public/css/satoshi.css";
@import "tailwindcss";



/* ADDED THE SIMPLILEARN THEME FONTS BY DOWNLOADING THEM IN THE PUBLIC FOLDER AND LINKING THEM HERE */

@theme {
  --font-satoshi: "Satoshi-Regular", ui-sans-serif, system-ui;
  --font-satoshi-light: "Satoshi-Light", ui-sans-serif;
  --font-satoshi-light-italic: "Satoshi-LightItalic", ui-sans-serif;
  --font-satoshi-italic: "Satoshi-Italic", ui-sans-serif;
  --font-satoshi-medium: "Satoshi-Medium", ui-sans-serif;
  --font-satoshi-medium-italic: "Satoshi-MediumItalic", ui-sans-serif;
  --font-satoshi-bold: "Satoshi-Bold", ui-sans-serif;
  --font-satoshi-bold-italic: "Satoshi-BoldItalic", ui-sans-serif;
  --font-satoshi-black: "Satoshi-Black", ui-sans-serif;
  --font-satoshi-black-italic: "Satoshi-BlackItalic", ui-sans-serif;
  --font-satoshi-var: "Satoshi-Variable", ui-sans-serif;
  --font-satoshi-var-italic: "Satoshi-VariableItalic", ui-sans-serif;
}
